In [10]:
import numpy as np
import pandas as pd
import pickle

In [11]:
dataset = pd.read_csv('data_hiring.csv')

In [12]:
dataset['experience'].fillna(0, inplace=True)

dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [28]:
X = dataset.iloc[:, 1:-1]
y= dataset.iloc[: ,-1]

   experience  test_score  interview_score
0         0.0    8.000000                9
1         0.0    8.000000                6
2         5.0    6.000000                7
3         2.0   10.000000               10
4         7.0    9.000000                6
5         3.0    7.000000               10
6        10.0    7.857143                7
7        11.0    7.000000                8

In [14]:
dataset

   Index  experience  test_score  interview_score  salary
0      0         0.0    8.000000                9   50000
1      1         0.0    8.000000                6   45000
2      2         5.0    6.000000                7   60000
3      3         2.0   10.000000               10   65000
4      4         7.0    9.000000                6   70000
5      5         3.0    7.000000               10   62000
6      6        10.0    7.857143                7   72000
7      7        11.0    7.000000                8   80000

In [29]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [30]:
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [33]:
model= pickle.load(open('model.pkl','rb'))
print(model.predict([[2,9,6]]))

[53290.89255945]